.auth-body-background{
    background-image: url(https://img.freepik.com/free-psd/3d-background-with-modern-emojis_23-2150672283.jpg?semt=ais_hybrid&w=740);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 200vh;
}